################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/miGateway/node_modules
/miGateway/obj/Debug
/miGateway/bin
/.vs/miGateway/v15
/miGateway/obj/Release/miGateway.njsproj.CoreCompileInputs.cache
/.vs
/miGateway/obj/Release/miGateway.njsprojResolveAssemblyReference.cache
